.home {
  justify-content: center;
  text-align: center;
}

.search-bar {
  margin: 10px 15px;
  display: flex;
  justify-content: center;
}

.search-bar ion-item {
  width: 100%;
  max-width: 800px; /* Limita el ancho del buscador */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.books {
  padding: 15px;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

ion-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: 220px;
  margin: 0 auto;
}

.cover-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.cover-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ion-card-header {
  text-align: left;
  padding: 0 10px;
}

ion-card-title {
  font-size: 1.1rem;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

ion-card-subtitle {
  font-size: 0.9rem;
  color: #666;
}

.book-description {
  font-size: 12px;
  line-height: 1.5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-footer-buttons {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
